.ant-tabs-tab {
  margin: 0 0 0 32px;
}

.ant-form{
  margin: 0 auto;
}
.ant-modal-close{
  display: none;

}


// .unit-custom{
//   top: 8px !important;
// }

.ant-select-selector{
  // border: none !important;
  border-radius: 4rem !important;
}


// .select-option input{
//   border: none !important;
//   background-color: blue !important;
// }

.ant-alert-icon {
  margin-right: 0 !important;
  margin-left: 8px !important;
}
