
:root {
    --bgcolor: #f6f6f6;
    --lightgray: #b1b1b1;
    --darkgray: #1b1b1b;
    --gray95: #f1f1f1;
    --gray90: #e0e0de;
    --gray80: #c6c6c6;
    --gray70: #ababab;
    --gray60: #919191;
    --gray50: #777;
    --gray15: #262626;
    --blue: #00305b;
    --light-blue: #e5eaee;
    --pink: #e6007e;
    --lightpink: #fce5f2;
    --lightgreenbg: #e5f6e5;
    --lightgreen: #00a900;
    --green: #028b09;
    --light-red: #ff4444;
    --dangerred: #ff0000;
    --red: #c84c47;
    --bs-gutter-x: 30px !important;
    --bs-white: #fff;
    --border-input: #f1f1f1;
    --passed: #ffdada;
    --light-orange: #fef4e8;
    --orange: #f7941d;
  }
  
  .ant-tabs-tab {
    margin: 0 0 0 32px;
  }
  
  .ant-form{
    margin: 0 auto;
  }
  .ant-modal-close{
    display: none;
  
  }
  
  
  // .unit-custom{
  //   top: 8px !important;
  // }
  
  .ant-select-selector{
    // border: none !important;
    border-radius: 4rem !important;
  }
  
  
  // .select-option input{
  //   border: none !important;
  //   background-color: blue !important;
  // }
  
  .ant-alert-icon {
    margin-right: 0 !important;
    margin-left: 8px !important;
  }
  
  .ant-btn-primary{
    border-color:white !important;
  }
  
  .ant-tabs-tab-btn{
    color: var(--gray50) !important;
    position: relative !important;
  }
  .ant-tabs-ink-bar{
    background-color:  var(--darkgray) ;
    // position: relative !important;
  }
  
  
  .ant-input{
    background-color: var(--bgcolor) ; 
  }
  .ant-card-actions > li > span a:not(.ant-btn):hover, .ant-card-actions > li > span > .anticon:hover {
    color: #e6007e;
  
  }
  .btn-outline-pink {
   &:hover{
     font-size: 14px ;
   }
  }
  .ant-picker-content{
    flex-direction: row-reverse;
  }
  .custom-timePicker{
  .ant-picker-input{
    padding: 4px;
  }}
  .custom-timePicker.ant-picker{
  
    background: var(--bgcolor);
  
  }
  .ant-picker-ok{
    button{
      background: #e6007e !important;
      color:#fff;
      border-radius: 100px;
    }
  }
  
  // .anticon-star{
  //   margin: 1px;
  // }
  
  .ant-rate{
    direction: ltr !important;
  }
  
  .ant-pagination-item{
    border: none;
  }
  
  .ant-carousel .slick-dots li button{
  display: none;
  }
  .ant-carousel .slick-dots li.slick-active{
    display: none;
  }
  
  .ant-carousel .slick-dots li.slick-active button{
    background: #777 !important;
    
  }
  
  .ant-pagination-next .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
    background: url("../../images/right-arrow.svg") no-repeat center !important;
    background-size : 22px !important;
    margin-left: 2rem !important;
    border: none !important;
  }
  .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link{
    background: url("../../images/left-arrow.svg") no-repeat center;
    background-size : 22px;
    margin-right: 5rem;
    margin-top: 2px;
    border: none;
  }
  .ant-pagination .ant-pagination-item:before{ 
    content: "/";
    font-family: "vazir Light", sans-serif;
    color: var(--gray90);
    position: relative;
    right: -1rem;
    top: 2rem;
  }
  .ant-pagination .ant-pagination-item {
    height: 95px !important;
    font-size: 18px;
  }
  
  
  .ant-pagination-item-active {
    font-size: 1.5rem !important;
    color: #1b1b1b !important;
    font-weight: 400;
  }
  .ant-pagination-item a{
    color: #1b1b1b !important;
  }
  .ant-pagination-item a:hover{
    color:var(--pink) !important;
  }
  
  .ant-pagination-next .anticon svg {
    display:none
  
  }
  
  .ant-pagination-prev .anticon svg {
    display:none
    
  }
  
  .ant-pagination.mini .ant-pagination-item {
    height:5.5rem !important;
  }
  
  .ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link{
    background: url("../../images/left-arrow.svg") no-repeat center;
    background-size : 1.5rem ;
    margin-right: 5rem;
  }
  
  .ant-modal-body .ant-btn:first-child {
    height: 2.3rem;
    // padding-top: 0.5rem;  
    background-color: var(--gray70) !important;
    color: white !important;
    border-radius: 0.5rem !important;
  }
  .ant-modal-body .ant-btn:first-child:hover{
    background-color: var(--gray15) !important;
  }
  
  .ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn {
      border-radius: 0.5rem;
      margin-right: 1rem;
      border-radius: 0.5rem !important;
  
  }
  
  .ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn:hover{
    background-color: var(--pink) !important;
  }

  .ant-modal-confirm-body{
    padding-top: 2rem !important;
    padding-left: 2rem;
  }

  .ant-modal-confirm .ant-modal-confirm-btns {
    padding-bottom: 1.5rem;
  }